# Ignore appsettings.json (holds secrets)
appsettings.json
appsettings.Development.json
appsettings.Production.json

# Ignore env files with secrets
.env

# Ignore bin/ og obj/ mapper
bin/
obj/

# Ignore user secrets folder
*.user

# Ignore VS temp filer
.vs/
*.log
*.suo
